<div class="container">
  <br>
  <h4>Agregar Ãrea</h4>

  <%= render 'form', area: @area %>
  <br><br>
  <%= link_to image_tag("back.png", class: "btn-img") + " Back", areas_path, class: "btn btn-xs" %>
</div>
