<div class="container">
  <br>
  <h4>Agregar Catálogo</h4>

  <%= render 'form', catalogue: @catalogue %>
  <br><br>
  <%= link_to image_tag("back.png", class: "btn-img") + " Back", catalogues_path, class: "btn btn-xs" %>
</div>
