<h1>Editing Item</h1>

<%= render 'form', item: @item %>

<%= link_to image_tag("view.png", class: "btn-img") + ' Mostrar', item_path(@item), class: "btn btn-xs" %> |
<%= link_to image_tag("back.png", class: "btn-img") + ' Regresar', items_path, class: "btn btn-xs" %>
