<div class="container">
  <br>
  <h4>Agregar Item</h4>

  <%= render 'form', item: @item %>
  <br><br>
  <%= link_to image_tag("back.png", class: "btn-img") + " Back", items_path, class: "btn btn-xs" %>
</div>
